body {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

#form {
  display: grid;
  gap: 8px;
  background-color: gainsboro;
  padding: 8px;
  width: 500px;
}

label {
  display: grid;
}

#countryZipContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

#countryZipContainer>.error {
  grid-column: 1/-1;
}

.error {
  color: darkred;
  transition: all 0.3s;
  justify-self: start;
  padding: 4px;
}

input:valid {
  border-color: green;
}

.flashError+.error {
  background-color: rgba(255, 0, 0, 0.75);
  transition: all 0.3s;
}

.error.flashError {
  background-color: rgba(255, 0, 0, 0.75);
  transition: all 0.3s;
}